body{
    margin: 0;
}

.shapka{
    width: 100%;
    height: 90px;
    border: 1px solid;
    padding: 0 140px 0 140px;
    box-sizing: border-box;
    display: flex ;                 /* чтобы работал justify-content*/
    justify-content: space-between; /* для горизонтального выравнивания*/
    align-items: center;   /* для выравнивание вертикали*/
}

.links-item{
    text-transform: capitalize;   /* чтобы все первые буквы были большие*/
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20px;
    margin-right: 38px;
    
}

.links-item:last-child{
    margin-right: 0;
}